*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Fonts Styles */
  font-size: 16px;
  font-family: "Inter", sans-serif;

  /* Colors */
  --accent: hsl(277, 64%, 61%);
  --card-bg: hsl(244, 38%, 16%);
  --main-bg: hsl(233, 47%, 7%);
  --stat-head: hsla(0, 0%, 100%, 0.6);
  --main-para: hsla(0, 0%, 100%, 0.75);
  --white: rgb(255, 255, 255);

  /* Variables */
}

body { 
  background: var(--main-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* --------CONTAINER */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card-bg);
  flex-basis: 1080px;
  position: relative;
}

.container::before {
  content:'';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgb(194, 87, 255);
  mix-blend-mode: multiply;
}

/* --------MAIN CONTAINER */
.main-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  justify-content: center;
  padding: 5rem;
  box-sizing: border-box;
}

/* --------CONTENT AND STATS */
.headline {
  font-size: 2.15em;
}

.highlight {
  color: var(--accent);
}

.feat-box-sub-head {
  text-transform: uppercase;
  font-family: "Lexend Deca",sans-serif;
}

.content, .feat-box-sub-head {
  color: var(--stat-head);
}

.features {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.feat-box-head {
  font-size: 1.65em;
}
